hr {
  border-top-color: #b5bbc8;
}
.lead {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #367fa9;
}
.three-cols th,
.three-cols td {
  width: 30%;
}
.two-cols th,
.two-cols td {
  width: 60%;
}
.two-cols th:last-child,
.two-cols td:last-child,
.three-cols th:last-child,
.three-cols td:last-child {
  width: 40%;
}
.larger {
  font-size: 20px;
}
.smaller {
  font-size: 14px;
}
.content-header > hr {
  margin-bottom: 0;
}
h1 {
  font-weight: bold;
}
dl ul,
dl ol {
  margin-bottom: 0;
}
.box-body dl,
.box-body.lead {
  margin-bottom: 0;
}
.paramref,
.typeparamref {
  font-style: italic;
}
.jumbotron {
  padding: 0;
  color: white;
  margin: 0;
}
.jumbotron-title {
  margin-bottom: 30px;
}
.jumbotron-intro,
.jumbotron-title {
  background: #8058b5;
}
.jumbotron-intro .container-background {
  background: url('/Content/Images/intro-bg.png') no-repeat center center;
  background-size: cover;
}
.jumbotron-intro .container {
  padding-top: 48px;
  padding-bottom: 48px;
  background-size: cover;
}
.jumbotron-description {
  padding-top: 12px;
  background: #4eabdd;
}
@media (min-width: 1200px) {
  .jumbotron-intro {
    height: 400px;
  }
  .jumbotron-intro .container-background {
    background: none;
  }
  .jumbotron-intro .container {
    background: url('/Content/Images/intro-bg.png') no-repeat center center;
    height: 400px;
  }
}
/* Code styles */

pre,
pre.prettyprint {
  padding: 8px;
  margin: 0;
  overflow: auto;
  word-wrap: normal;
  word-break: normal;
  border-color: #dddddd;
  background-color: #f3f3f3;
}
/* For Gitter and GitHub */

.bottom-footer {
  margin-bottom: 40px !important;
}
.gitter-open-chat-button {
  background-color: #367fa9;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: normal;
}
.gitter-open-chat-button:focus,
.gitter-open-chat-button:hover,
.github-button:focus,
.github-button:hover {
  background-color: #4eabdd;
  color: white;
}
.gitter-chat-embed {
  top: 49px;
  border-top: 1px solid black;
}
.github-button {
  z-index: 100;
  position: fixed;
  bottom: 0px;
  right: 160px;
  padding: 1em 3em;
  background-color: #367fa9;
  border: 0;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  font-family: sans-serif;
  font-size: 9pt;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
}
.github-button a,
.github-button a:active,
.github-button a:hover,
.github-button a:focus {
  color: white;
}
@media (max-width: 767px) {
  .gitter-chat-embed {
    top: 99px;
  }
}
